#dropdown-categorias
    width 400px
    position absolute
    top 155px
    right 0
    +tablet()
        width 280px
        top 115px
    +mobile()
        width 100%
        top 115px
    a.handle
        position relative
        right 20px
        z-index 10
        text-decoration none
        display inline-block
        float right
        color white
        montserrat 25 bold
        +mobile()
            text-indent -9999px
        &:after
            content ""
            display block
            float right
            margin-left 12px
            position relative
            top 7px
            width 20px
            height 20px
            transform rotate(90deg)
            background $img('triangulo-peq-branco.png') no-repeat center
            transition transform .3s ease, top .3s ease
        &.active:after
            transform rotate(-90deg)
            top 4px
        +tablet()
            font-size 22px
            right 12px
            &:after
                top 6px
            &.active:after
                top 3px
    +mobile()
        width 100%
        position relative
        bottom -20px
        height 20px
    ul
        display none
        position absolute
        z-index 6
        top -35px
        right 0
        width 400px
        list-style-type none
        padding 68px 0 35px
        background-color #87c07d // ie fallback
        background-image linear-gradient(90deg, #46a6af, #87c07d)
        li
            list-style-type none
        li a
            display inline-block
            width 100%
            padding 10px 40px
            background transparent
            transition background .3s ease
            text-decoration none
            color white
            montserrat 15
            margin 5px 0
            &:hover
                background $azul
        +below($tablet)
            top -35px
            width 280px
            background $azul
            padding 55px 0 20px
            li a
                padding 10px 30px
        +mobile()
            width 100%
            padding-top 20px

#catalogo
    .filme-thumb
        clearfix()
        display block
        padding 20px
        margin-bottom 25px
        position relative
        .gradient
            content ""
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-color #77b98a // ie fallback
            background-image linear-gradient(90deg, #46a6af, #77b98a)
            z-index -10
            opacity 0
            transition opacity .3s ease
        &:hover .gradient
            opacity 1
        .texto
            width 325px
            float right
            text-align center
            .titulo
                montserrat 15 bold
                text-transform uppercase
                margin 0
                line-height 1.5
                color $azul
                margin-top 5px
                transition color .3s ease
            .olho
                montserrat 15 bold
                color $verde
                text-transform uppercase
                margin 10px 0
                p
                    margin 0 0 5px
                    transition color .3s ease
            .descricao
                verdana 13
                line-height 1.3
                margin 15px 0 20px
                color $azul
                transition color .3s ease
                text-align left
            .botao
                display inline-block
                border 3px solid $verde-esc
                montserrat 20 bold
                color $verde-esc
                padding 2px 8px
                transition color .3s ease, border-color .3s ease
        &:hover
            .titulo
            .olho p
            .descricao
                color white
            .botao
                border-color $azul
                color $azul
        img
            display block
            width 675px
            height 450px
            float left
        &.right
            img
                float right
            .texto
                float left
        +below($tablet)
            .gradient
                opacity 1
            .texto
                width 100%
                .titulo
                    color $azul
                .olho
                .descricao
                    color white
                .botao
                    display none
            img
                width 100%
                height auto
                float none
    .pagination
        text-align center
        padding 0
        margin 60px 0 0
        list-style-type none
        li
            display inline-block
            &.disabled
                display none
            a
            span
                padding 8px 14px
                border 2px solid $azul
                margin 0 2px
                montserrat 14 bold
                color $azul
                text-decoration none
            &.active span
                background $azul
                color white
            a
                transition color .3s ease, background .3s ease
            a:hover
                background $azul
                color white
        +mobile()
            span
                display none
            a
                display none
                &[rel='next']
                &[rel='prev']
                    display inline
    &.show
        text-align center
        .embed
            width 960px
            margin 0 auto 50px
            +below($tablet)
                width 100%
            .embed-video
                width 100%
                max-width 100%
                position relative
                padding-bottom 56.25%
                overflow hidden
                height 0
                iframe
                    position: absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        .texto
            width 675px
            margin 0 auto
            +below($tablet)
                width 100%
            h2
                montserrat 22 bold
                color $azul
                text-transform uppercase
                margin 0 0 20px
            .descricao
                text-align left
                verdana 13
                line-height 1.5
            .ficha-tecnica
                margin-top 40px
                text-align left
                montserrat 13
                text-transform uppercase
                strong
                    color $verde-esc
                p
                    margin 8px 0
            a.voltar
                clear both
                margin-top 50px
                display inline-block
                border 3px solid $azul
                montserrat 14 bold
                text-transform uppercase
                padding 10px 50px
                color $azul
                text-decoration none
                transition color .3s ease, background .3s ease
                &:hover
                    color white
                    background $azul