#clientes
    background $img('bg-triangulo.jpg') no-repeat top center
    border-top 1px solid white
    position relative
    overflow hidden
    clearfix()
    &:after
        content ""
        display block
        position absolute
        top 0
        right 50%
        width 9999px
        height 1295px
        background #45a6af
        z-index -10
    .cliente
        col(1/4, cycle: 4, gutter: 2.5)
        margin-bottom 25px
        padding 2%
        background white
        img
            width 100%
            height auto
            display block
        +mobile()
            col(1/2, uncycle: 4, cycle: 2, gutter: 5)
    +below($tablet)
        background-size 90% auto
        background-position top left
        &:after
            display none