#contato
    clearfix()
    aside
        width 340px
        float left
        verdana 13
        line-height 1.3
        .telefones
            margin 0
            montserrat 25 bold
            color $verde-esc
            span
                montserrat 20 bold
        a
            display inline-block
            margin 20px 0
            text-decoration none
            color $azul
            transition color .3s ease
            &:hover
                color $verde-esc
        +tablet()
            width 100%
            text-align center
            float none
            margin-bottom 40px
            .endereco br
                display none
        +mobile()
            width 100%
            text-align center
            float none
            margin-bottom 50px
    form
        width 650px
        float right
        +tablet()
            width 80%
            margin 0 auto
            float none
        +mobile()
            width 100%
            float none
            text-align center
        input[type='text']
        input[type='email']
            width 100%
            montserrat 20 bold
            color $verde-esc
            border 0
            border-bottom 1px solid $azul
            padding-bottom 8px
            outline 0
            margin-bottom 25px
            background transparent
        textarea
            width 100%
            montserrat 20 bold
            line-height 1.8
            color $verde-esc
            height 180px
            border 0
            outline 0
            resize vertical
            background transparent
            background-image linear-gradient(transparent 35px, $azul 35px, $azul 36px, transparent 36px)
            background-size 100% 36px
        ::-webkit-input-placeholder
            color $verde-esc
        :-moz-placeholder
           color $verde-esc
           opacity  1
        ::-moz-placeholder
           color $verde-esc
           opacity  1
        :-ms-input-placeholder
           color $verde-esc
        input[type='submit']
            margin-top 24px
            display inline-block
            position relative
            float right
            text-align center
            border 3px solid $azul
            montserrat 14 bold
            color $azul
            background-color transparent
            outline 0
            text-transform uppercase
            padding 16px 48px
            transition .3s color ease, .3s background-color ease
            &:hover
                background $azul
                color white
            &.loading
                background $img('ajax-loader.gif') no-repeat center $azul
                color transparent
            +mobile()
                float none
        .resposta-wrapper
            margin-top 35px
            display inline-block
            float left
            +mobile()
                width 100%
                float none
                margin-top 20px
                #form-resposta
                    border none
        #form-resposta
            display none
            montserrat 14
            color $verde-esc
            border-bottom 2px solid $verde-esc
            padding-bottom 8px
            tex-transform uppercase
#contato-googlemaps
    width 100%
    height 400px
    +below($tablet)
        height 300px