#banner
    background $azul
    height 645px
    position relative
    .center
        height 645px
    +tablet()
        height 550px
        .center
            height 550px
    +mobile()
        height 420px
        .center
            height 420px
    #banner-slideshow
        position absolute
        top 0
        left 0
        width 100%
        .banner-slide
            width 100%
            height 645px
            background-repeat no-repeat
            background-position center
            .overlay
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba(78, 107, 119, .65)
            .center
                z-index 10
            +tablet()
                height 550px
                background-size cover
            +mobile()
                height 420px
                background-size cover
            .texto-wrapper
                display table
                width 80%
                height 100%
                +tablet()
                    width 70%
                +mobile()
                    width 100%
                    text-align center
                .texto
                    display table-cell
                    vertical-align middle
                    width 100%
                    color white
                    margin 0
                    cursor default
                    text-shadow 0 2px 1px rgba(0,0,0,.1)
                    p
                        line-height 1.15
                        margin 0 0 10px
                        +below($tablet)
                            span
                                display none
            a
                text-indent -9999px
                display block
                position absolute
                width 120px
                height 120px
                top 40%
                right 0
                background $img('triangulo-branco.png') no-repeat center #a9cd63
                transition background .3s ease
                &:hover
                    background-color $verde-esc
                +tablet()
                    max-width 120px
                    width 12%
                    height 0
                    padding-bottom 12%
                    top 42%
                +mobile()
                    width 50px
                    height 50px
                    top auto
                    left 50%
                    margin-left -25px
                    bottom 8%
                    background-size 30% auto
    #pager
        position absolute
        height 15px
        z-index 101
        bottom 54px
        right 0
        a
            display inline-block
            margin-left 10px
            width 15px
            height 15px
            border 2px solid white
            border-radius 100%
            &.cycle-pager-active
                border-color $verde-esc
        +below($tablet)
            display none

#home
    background $img('bg-triangulo.jpg') no-repeat top center
    border-top 1px solid white
    position relative
    overflow hidden
    clearfix()
    &:after
        content ""
        display block
        position absolute
        top 0
        right 50%
        width 9999px
        height 1295px
        background #45a6af
        z-index -10
    +below($tablet)
        background-size 90% auto
        background-position top left
        &:after
            display none
    +mobile()
        background none
    .trailers
        width 100%
        clearfix()
        margin-bottom 80px
        +tablet()
            margin-bottom 60px
        +mobile()
            margin-bottom 40px
        .trailer-thumb
            position relative
            col(1/5, gutter: 4.2)
            +tablet()
                col(1/5, gutter: 2.5)
            +mobile()
                col(1/2, cycle: 2, gutter: 5)
                margin-bottom 40px
                &:nth-child(5)
                    display none
            img
                display block
                width 100%
                height auto
            a
                position relative
                margin-top 13px
                display block
                width 100%
                text-align center
                border 3px solid $azul
                padding 18px 0
                montserrat 14 bold
                color $azul
                text-decoration none
                text-transform uppercase
                transition background .3s ease, color .3s ease
                +tablet()
                    padding 15px 0
                    font-size 13px
                span
                    display inline-block
                    width 15px
                    height 15px
                    background $img('botao-trailer.png') no-repeat center
                    margin-left 12px
                    position relative
                    top 3px
                    transition background .3s ease
                &:hover
                    background $azul
                    color white
                    span
                        background-image $img('botao-trailer-hover.png')
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    bottom -35px
                    width 100%
                    height 15px
                    background $img('sombra-poster.png') no-repeat center
                    +below($tablet)
                        bottom -30px
                        background-size 100% auto
            .tooltip
                display none
                position absolute
                z-index 10
                width 350px
                padding 30px
                background rgba(78, 107, 119, .95)
                color white
                h4
                    margin 0 0 10px
                    montserrat 15 bold
                    text-transform uppercase
                .olho
                    montserrat 15 bold
                    color $verde
                    text-transform uppercase
                    margin-bottom 10px
                    p
                        margin 0 0 5px
                .descricao
                    verdana 13
                    margin 0
                &:after
                    content ""
                    display block
                    position absolute
                    width 20px
                    height 20px
                    top 30px
                    border-style: solid;
                    border-width: 16px 16px 16px 0;
                    border-color: transparent rgba(78, 107, 119, .95) transparent transparent;
                    right 100%
                &.right:after
                    border-width: 16px 0 16px 16px;
                    border-color: transparent transparent transparent rgba(78, 107, 119, .95);
                    left 100%
                +below($tablet)
                    display none !important
    .novidades
        width 645px
        float left
        h3
            color white
            montserrat 28 bold
            margin 0 0 20px
            cursor default
            &:before
                content ""
                display block
                float left
                position relative
                width 20px
                height 20px
                top 6px
                margin-right 12px
                background $img('triangulo-branco.png') no-repeat center
        .novidade-thumb
            position relative
            padding 10px 10px 20px
            width 215px
            float left
            background transparent
            transition background .3s ease
            color white
            text-decoration none
            &:hover
                background $azul
                &:after
                    opacity 1
                p
                    color white
            &:after
                content ""
                display block
                position absolute
                width 10px
                height 10px
                right 10px
                bottom 10px
                background $img('triangulo-peq-branco.png') no-repeat center
                opacity 0
                transition opacity .3s ease
            h4
                montserrat 13 bold
                text-transform uppercase
            p
                verdana 13
                color $azul
                line-height 1.3
                transition color .3s ease
        +tablet()
            width 100%
            clear both
            .novidade-thumb
                col(1/3)
                background $azul
                h4
                    margin 10px 0
                img
                    width 100%
                    height auto
                &:after
                    opacity 1
                p
                    color white
        +mobile()
            width 100%
            clear both
            h3
                color $verde-esc
                &:before
                    background-image $img('triangulo-verde.png')
            .novidade-thumb
                col(1/1)
                padding 15px
                margin-bottom 1px
                background-color #77b98a // ie fallback
                background-image linear-gradient(90deg, #46a6af, #77b98a)
                p
                    color white
                img
                    display none
                &:hover
                    background-color #77b98a // ie fallback
                    background-image linear-gradient(90deg, #46a6af, #77b98a)
                    &:after
                        display none
    .categorias
        width 390px
        float right
        h3
            color white
            montserrat 28 bold
            margin 0 0 30px
            cursor default
            &:before
                content ""
                display block
                float left
                position relative
                width 20px
                height 20px
                top 6px
                margin-right 12px
                background $img('triangulo-branco.png') no-repeat center
        +below($tablet)
            width 100%
            clear both
            margin-top 60px
            h3
                color $verde-esc
                margin-bottom 20px
                &:before
                    background-image $img('triangulo-verde.png')
        ul
            padding 20px 3px
            margin 0
            list-style-type none
            background $azul
            clearfix()
            li a
                position relative
                display block
                margin 8px 0
                montserrat 16
                color white
                padding 8px 60px 8px 30px
                text-decoration none
                transition background .3s ease, color .3s ease
                &:hover
                    background #a9cd63
                    color $azul
                &:after
                    content ""
                    display block
                    position absolute
                    width 10px
                    height 100%
                    right 30px
                    top 0
                    background $img('triangulo-peq-azul.png') no-repeat center
                +tablet()
                    width 50%
                    float left
                    font-size 15px
                    margin 4px 0
                    &:hover
                        background $azul
                        color white
                +mobile()
                    font-size 15px
                    margin 4px 0
                    &:hover
                        background $azul
                        color white