#nos
    article
        width 675px
        float left
        p
            verdana 13
            line-height 1.5
            margin 0 0 30px
        h3
            montserrat 25 bold
            color $verde-esc
            line-height 1.3
            +mobile()
                font-size 22px
    aside
        width 340px
        float right
        h2
            margin 0 0 20px
            montserrat 27 bold
            color $verde-esc
            cursor default
            &:before
                content ""
                display block
                float left
                position relative
                width 20px
                height 20px
                top 6px
                margin-right 12px
                background $img('triangulo-verde.png') no-repeat center
        .slideshow
            width 340px
            height 510px
            margin-bottom 15px
            overflow hidden
        a
            display inline-block
            width 100%
            text-align center
            border 3px solid $azul
            padding 18px 0
            montserrat 14 bold
            color $azul
            text-decoration none
            text-transform uppercase
            transition background .3s ease, color .3s ease
            span
                display inline-block
                width 15px
                height 15px
                background $img('botao-trailer.png') no-repeat center
                margin-left 12px
                position relative
                top 3px
                transition background .3s ease
            &:hover
                background $azul
                color white
                span
                    background-image $img('botao-trailer-hover.png')
    +tablet()
        article
            width 100%
            float none
        aside
            width 100%
            float none
            margin-top 60px
            text-align center
            h2
                text-align left
            .slideshow
                margin 0 auto 15px
            a
                width 340px
    +mobile()
        article
            width 100%
            float none
        aside
            width 100%
            float none
            margin-top 45px
            .slideshow
                text-align center
                width auto
                height auto
                img
                    display inline-block
                    max-width 340px
                    width 100%
                    height auto
            a
                display inline-block
                padding 18px 30px
                max-width 340px
