#novidades
    .novidade-thumb
        clearfix()
        display block
        padding 20px
        margin-bottom 25px
        position relative
        .gradient
            content ""
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-color #77b98a // ie fallback
            background-image linear-gradient(90deg, #46a6af, #77b98a)
            z-index -10
            opacity 0
            transition opacity .3s ease
        &:hover .gradient
            opacity 1
        .texto
            width 325px
            float left
            text-align center
            *
                transition color .3s ease, border-color .3s ease
            .data
            .titulo
                montserrat 15 bold
                color $verde-esc
                text-transform uppercase
                margin 0
                line-height 1.5
            .titulo
                color $azul
                margin-top 5px
            .texto
                verdana 13
                line-height 1.3
                margin 15px 0 20px
                color $azul
            .botao
                display inline-block
                border 3px solid $verde-esc
                montserrat 20 bold
                color $verde-esc
                padding 2px 8px
        &:hover
            .data
                color $azul
            .titulo
            .texto
                color white
            .botao
                border-color $azul
                color $azul
        img
            display block
            width 675px
            height 200px
            float right
        +below($tablet)
            .gradient
                opacity 1
            .texto
                width 100%
                .data
                    color $azul
                .titulo
                .texto
                    color white
                .botao
                    display none
            img
                width 100%
                height auto
                float none
    .pagination
        text-align center
        padding 0
        margin 60px 0 0
        list-style-type none
        li
            display inline-block
            &.disabled
                display none
            a
            span
                padding 8px 14px
                border 2px solid $azul
                margin 0 2px
                montserrat 14 bold
                color $azul
                text-decoration none
            &.active span
                background $azul
                color white
            a
                transition color .3s ease, background .3s ease
            a:hover
                background $azul
                color white
            +mobile()
                span
                    display none
                a
                    display none
                    &[rel='next']
                    &[rel='prev']
                        display inline
    &.show
        .topo
            clearfix()
            .data
                margin 0
                display inline-block
                float left
                montserrat 15 bold
                color $azul
                text-transform uppercase
            .social-share
                float right
                .fb-like
                    float left
                    margin-right 25px
                    +mobile()
                        margin-bottom 10px
                +mobile()
                    clear both
                    float left
                    margin-top 20px
        .capa
            text-align center
            clear both
            margin-top 45px
            img
                display inline-block
                max-width 750px
            +below($tablet)
                img
                    width 100%
                    height auto
        .texto
            width 575px
            float left
            margin-top 50px
            &.full-width
                float none
                width 100%
            +below($tablet)
                width 100%
                margin-bottom 20px
            h2
                margin-top 0
                montserrat 22 bold
                text-transform uppercase
            p
                verdana 13
                line-height 1.5
            h3
                margin-top 2em
                montserrat 14 bold
                text-transform uppercase
        a.voltar
            clear both
            float left
            margin-top 50px
            display inline-block
            border 3px solid $azul
            montserrat 14 bold
            text-transform uppercase
            padding 10px 50px
            color $azul
            text-decoration none
            transition color .3s ease, background .3s ease
            &:hover
                color white
                background $azul
        .embed
            width 440px
            float right
            margin-top 50px
            .embed-video
                width 100%
                max-width 100%
                position relative
                padding-bottom 56.25%
                overflow hidden
                height 0
                iframe
                    position: absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            +below($tablet)
                clear both
                width 100%
                float none