header
    clearfix()
    overflow hidden
    +mobile()
        overflow visible
    h1
        margin 0
        width 23%
        float left
        a
            display block
            text-indent -9999px
            background $img('gpmedia.png') no-repeat center left
            height 160px
            +tablet()
                height 120px
                background-size 76% auto
        +mobile()
            width 148px
            a
                height 85px
                background-size 110px auto
    nav#desktop
        width 77%
        height 160px
        float left
        background-color #77b98a // ie fallback
        background-image linear-gradient(90deg, #46a6af, #77b98a)
        position relative
        +tablet()
            height 120px
        +mobile()
            display none
        &:after
            content ""
            display block
            position absolute
            top 0
            left 0
            width 9999px
            height 100%
            background #77b98a
            z-index -10
        a
            display block
            width 20%
            height 100%
            float left
            text-align center
            text-decoration none
            line-height 160px
            +tablet()
                line-height 120px
                font-size 13px
            border-right 1px solid #aad6d2
            color white
            background transparent
            transition background .3s ease
            &:hover
            &.active
                background $azul
    button
        +mobile()
            display block
        display none
        background-color #77b98a // ie fallback
        background-image linear-gradient(90deg, #46a6af, #77b98a)
        border 0
        float right
        height 85px
        width 85px
        outline 0
        padding 0
        .lines
            display block
            width 40%
            height 3px
            margin 41px auto
            background white
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background white
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav#mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        top 85px
        left 0
        z-index 200
        background rgba(110, 182, 144, .9)
        padding 30px
        a
            display block
            text-align center
            color white
            text-decoration none
            margin 20px 0
            text-transform uppercase
            montserrat 16 bold
            &.active
                color $azul

footer
    width 100%
    background $azul
    padding 40px 0
    text-align center
    color #82a0ad
    font 10px 'Verdana', sans-serif
    +tablet()
        padding 20px 0
    a
        display inline-block
        position relative
        color #82a0ad
        text-decoration none
        transition color .3s ease
        &:hover
            color #b1cfdb
        &.kombi
            padding-right 27px
            &:after
                content ""
                display block
                position absolute
                right 0
                top -3px
                width 20px
                height 20px
                background $img('trupe.png') no-repeat center

#title
    position relative
    width 100%
    height 245px
    background-color $azul
    background-position center
    background-repeat no-repeat
    +tablet()
        height 180px
    +mobile()
        height auto
        min-height 180px
    .overlay
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(78, 107, 119, .65)
    .center
        height 100%
        min-height 180px
        position relative
        z-index 10
    h2
        display inline-block
        margin 0
        position absolute
        left 0
        bottom 40px
        color $verde
        montserrat 100 bold
        text-shadow 0 2px 1px rgba(0,0,0,.1)
        cursor default
        +tablet()
            bottom 20px
            font-size 80px
        +mobile()
            bottom 25px
            font-size 44px
#title
#banner
    nav#social
        display block
        position absolute
        z-index 101
        right 0
        top 35px
        clearfix()
        a
            display block
            float left
            height 15px
            text-indent -9999px
            transition background .3s ease
            margin-left 24px
            &.facebook
                background $img('facebook.png') no-repeat center
                width 7px
                &:hover
                    background-image $img('facebook-hover.png')
            &.twitter
                background $img('twitter.png') no-repeat center
                width 19px
                &:hover
                    background-image $img('twitter-hover.png')
            &.vimeo
                background $img('vimeo.png') no-repeat center
                width 18px
                &:hover
                    background-image $img('vimeo-hover.png')
            &.youtube
                background $img('youtube.png') no-repeat center
                width 12px
                &:hover
                    background-image $img('youtube-hover.png')
            &.instagram
                background $img('instagram.png') no-repeat center
                width 15px
                &:hover
                    background-image $img('instagram-hover.png')

main
    clearfix()
    padding 80px 0
    +tablet()
        padding 50px 0
    +mobile()
        padding 40px 0
    &.not-found
        background $azul
        border-bottom 1px solid rgba(255,255,255,.2)
        text-align center
        h1
            display inline-block
            montserrat 18
            text-transform uppercase
            margin 100px 0
            color white
            border 3px solid white
            padding 15px 20px
            +mobile()
                margin 50px 10%