*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

::selection
    background lighten($verde, 20)
    color #000

::-moz-selection
    background $verde
    color #000

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

body
    montserrat 14
    color $azul
    background #f1f1f1
    &:after // preload hover images
        content $img('facebook-hover.png') $img('instagram-hover.png') $img('twitter-hover.png') $img('vimeo-hover.png') $img('youtube-hover.png') $img('botao-trailer-hover.png') $img('triangulo-peq-azul.png') $img('triangulo-peq-branco.png') $img('ajax-loader.gif')
        display none