// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1150px
rupture.mobile-cutoff  = $mobile = 750px

// Colors
$verde = #8bc17a
$verde-esc = #6eb690
$azul = #4e6b77

// Fonts
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
montserrat($size, $style = normal)
    font-size $size + 0px
    font-family 'montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight normal
    if $style == bold
        font-weight bold
verdana($size, $style = normal)
    font-size $size + 0px
    font-family 'Verdana', 'Helvetica', 'Arial', sans-serif
    font-weight normal
    if $style == bold
        font-weight bold

// Images
$img($image)
    url('../img/layout/' + $image)